In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Artist_pop.csv')

In [3]:
df = df.drop('Unnamed: 0',axis = 1)

In [4]:
df.head()

,Rank,Title,Artists,Date,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,# of Artist,Artist (Ind.),# of Nationality,Nationality,Continent,Points (Total),Points (Ind for each Artist/Nat)
0,1,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2023-05-29,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,Artist 1,Eslabon Armado,Nationality 1,Mexico,Latin-America,200,100.0
1,1,Ella Baila Sola,"Eslabon Armado, Peso Pluma",2023-05-29,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,Artist 2,Peso Pluma,Nationality 2,Mexico,Latin-America,200,100.0
2,2,WHERE SHE GOES,Bad Bunny,2023-05-29,0.652,0.800,-4019.0,0.061,0.143,0.629,0.234,Artist 1,Bad Bunny,Nationality 1,Puerto Rico,Latin-America,199,199.0
3,3,La Bebe - Remix,"Yng Lvcas, Peso Pluma",2023-05-29,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,Artist 1,Yng Lvcas,Nationality 1,Mexico,Latin-America,198,99.0
4,3,La Bebe - Remix,"Yng Lvcas, Peso Pluma",2023-05-29,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,Artist 2,Peso Pluma,Nationality 2,Mexico,Latin-America,198,99.0

In [5]:
if 'Artist (Ind.)' in df.columns:
    columns = ['Artist (Ind.)'] + [col for col in df.columns if col != 'Artist (Ind.)']
    df = df[columns]

In [6]:
df = df.drop(columns=['Title', 'Artists', 'Instrumentalness', '# of Artist', '# of Nationality', 'Nationality', 'Points (Ind for each Artist/Nat)'])

In [7]:
# Define the list of continents mapped to numbers
continent_map = {
    'Africa': 0,
    'Asia': 1,
    'Oceania': 2,
    'Europe': 3,
    'Latin-America': 4,
    'Anglo-America': 5
}

# Replace continent names with their corresponding numbers
df['Continent'] = df['Continent'].map(continent_map)

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date').reset_index(drop=True)

In [9]:
# Extract year and month to use for grouping
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [11]:
# Define the columns to average
columns_to_average = ['Rank', 'Danceability', 'Energy', 'Loudness', 'Speechiness', 'Acousticness', 'Valence', 'Points (Total)']

In [12]:
# Group by 'Artist', 'Year', and 'Month', calculate the mean for specified columns and count occurrences
df_monthly_summary = df.groupby(['Artist (Ind.)', 'Year', 'Month']).agg(
    {**{col: 'mean' for col in columns_to_average}, 'Artist (Ind.)': 'count'}
).rename(columns={'Artist (Ind.)': 'Appearances'}).reset_index()

In [13]:
# Sort by year and month
df_monthly_summary = df_monthly_summary.sort_values(by=['Year', 'Month']).reset_index(drop=True)

In [16]:
df_monthly_summary

,Artist (Ind.),Year,Month,Rank,Danceability,Energy,Loudness,Speechiness,Acousticness,Valence,Points (Total),Appearances
0,21 Savage,2017,1,93.215054,0.8490,0.471667,-5079.936667,0.317333,0.171333,0.349667,107.784946,93
1,99 Percent,2017,1,133.642857,0.7860,0.854000,-4247.000000,0.052000,0.073000,0.687000,67.357143,28
2,A R I Z O N A,2017,1,137.590909,0.6170,0.642000,-8624.000000,0.033000,0.130000,0.221000,63.409091,22
3,A$AP Rocky,2017,1,165.962963,0.6650,0.771000,-5124.000000,0.140000,0.126000,0.732000,35.037037,27
4,AJR,2017,1,73.161290,0.6730,0.637000,-4518.000000,0.043000,0.137000,0.678000,127.838710,31
...,...,...,...,...,...,...,...,...,...,...,...,...
19169,d4vd,2023,5,60.568966,0.5725,0.506500,-9411.000000,0.027500,0.493500,0.252000,140.431034,58
19170,dazy,2023,5,189.857143,0.7680,0.714000,-5.110000,0.040000,0.352000,0.842000,11.142857,14
19171,sped up 8282,2023,5,148.666667,0.7370,0.725000,-7989.000000,0.041000,0.417000,0.746000,52.333333,21
19172,sped up nightcore,2023,5,171.625000,0.6860,0.897000,-7.180000,0.039000,0.010000,0.355000,29.375000,16
19173,Ñengo Flow,2023,5,186.142857,0.8920,0.662000,-3894.000000,0.162000,0.169000,0.607000,14.857143,7

In [17]:
df_monthly_summary.to_csv('Dataset/Artist_With_App.csv')